@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap");
.spinner-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

.navbar {
  padding: 0 2rem;
  text-transform: capitalize;
}

.navbar .navbar-list {
  margin-top: 2rem;
}

.navbar .navbar-list .navbar-title {
  font-size: 1.5rem;
  font-weight: 800;
}

.navbar .navbar-list h4 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 1.5rem 0;
}

.navbar .navbar-list .active-link {
  font-weight: 700;
}

.navbar .navbar-list .active-link::after {
  content: '\2022';
  color: #fcda04;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: 0.6rem;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
}

.hero-section .switch-gender-container {
  background-color: #e4fdff;
  padding: 0.6rem 0.4rem;
  border-radius: 0.4rem;
}

.hero-section .switch-gender-container button {
  text-transform: capitalize;
  background: transparent;
  outline: transparent;
  border-color: transparent;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: 600;
}

.hero-section .switch-gender-container .active-btn {
  background-color: #fac08b;
  padding: 0.5rem 1.1rem;
  margin-right: 0.15rem;
  color: #fff;
}

.hero-section .switch-gender-container .btn {
  padding: 0.5rem 1.1rem;
}

.sold-img {
  border-radius: 0.4rem;
  max-width: 350px;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.mockup-img {
  max-width: 500px;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mockup {
  position: relative;
}

.mockup .info {
  position: absolute;
  top: 2rem;
  left: 1.5rem;
}

.mockup .price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.mockup .price-container .new-price {
  margin-left: 2rem;
  font-weight: 700;
}

.mockup .view-product {
  padding: 0.4rem;
  border-radius: 50%;
  position: absolute;
  bottom: 2rem;
  right: 1.5rem;
  cursor: pointer;
}

.mockup .view-product .icon {
  font-size: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Nunito', sans-serif;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 2rem 3rem 0;
}
/*# sourceMappingURL=index.css.map */