@import './config';
@import './mockup.scss';
@import './loading';
@import './navbar';
@import './hero';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Nunito', sans-serif;
}
