@import './config';
@import './loading';
@import './navbar';
@import './hero';
@import './mockup.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Nunito', sans-serif;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 3rem 0;
}
